.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #e0e0e0;
  color: rgb(53, 53, 53);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 580px) {
  .expense-date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    padding: 0.5rem;
  }
  .expense-date__month {
    order: 2;
    font-size: 1rem;
    font-weight: bold;
  }

  .expense-date__year {
    order: 3;
    font-size: 1rem;
  }

  .expense-date__day {
    order: 1;
    font-size: 1rem;
    font-weight: bold;
  }
}
