.new-expense__controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

input {
  color-scheme: dark;
}

.new-expense__control {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.new-expense__control label {
  color: #fff;
  font-weight: bold;
  margin: 0.5rem 0.5rem;
}

.new-expense__control input {
  flex: 1;
  color: #fff;
  font: inherit;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(132, 132, 132);
  border: 0;
}

.new-expense__control input:focus {
  outline: none !important;
  background-color: #d6d6d6;
  color: #000;
  color-scheme: light;
}

.new-expense__actions {
  text-align: right;
}

.new-expense__control input::-webkit-outer-spin-button,
.new-expense__control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-expense__control input[type="number"] {
  -moz-appearance: textfield;
}
